version: "3.8"

networks:
  inception:
    name: inception
volumes:
  databes:
    name: databes 
    driver: local
    driver_opts:
      type: none
      o: bind 
      device: /home/ebennamr/data/mariadb
  wp:
    name: wp 
    driver: local
    driver_opts:
      type: none
      o: bind 
      device: /home/ebennamr/data/wordpress

services:
  mariadb:
    container_name: mariadb 
    hostname: mariadb
    build: requirements/mariadb/
    volumes:
      - databes:/var/lib/mysql
    networks:
      - inception  
    env_file:
      - .env 
    restart: always

  wordpress:
    container_name: wordpress 
    hostname: wordpress
    build: requirements/wordpress/
    networks:
      - inception  
    depends_on:
      - mariadb
    volumes:
      - wp:/var/www/html
    env_file:
      - .env 
    restart: always

  nginx:
    container_name: nginx 
    build: requirements/nginx/
    depends_on:
      - wordpress
    networks:
      - inception  
    volumes:
      - wp:/var/www/html
    ports:
      - 443:443 
    env_file:
      - .env 
    restart: always
